%table
  %thead
    %tr
      %td Name
      %td Planetary Class
      %td Habitable Class
      %td
        Distance from Earth
        %br
        in Light-Years
      %td
        Earth Similarity Index
        %br
        (Earth is 1.0)

  %tbody
    - Planet.order(:esi).each do |planet|
      %tr
        %td.planet-name= planet.name
        %td= planet.planet_class
        %td= planet.habitable_class
        %td= planet.ly_distance
        %td= planet.esi
