= render partial: 'dashboard'
.game-container
  %section.section.header-intro{ data: { id: "0" }}
    %h1{ data: {shadow_text: "Space Trail" } } Space Trail
    %p Get ready to tweet @_spacepioneer
    .planet
      %div
  %section.section.planet-table
    = render "planet_v1"
  - @events.each_with_index do | event, i |
    %section.section{ class: "q-#{event.id}" }
      .question{ data: { id: "#{event.id}" }}
        #{event.body}
      .answer-box

        .twitter-handle

        .choice.choice-a
          .choice-inner
            #{event.choice_1}
            %br
            %span.tweet-text @_spacepioneer ##{event.id} #a

        .choice.choice-b
          .choice-inner
            #{event.choice_2}
            %br
            %span.tweet-text @_spacepioneer ##{event.id} #b
