= render partial: 'dashboard'
.game-container
  %section.section.header-intro
    %h1{ data: {shadow_text: "Space Trail" } } Space Trail
    %p (Very) Loosely based on the original Oregon trail
    .planet
      %div
  %section.section.planet-table
    = render "planet_v1"
  - @events.each_with_index do | event, i |
    %section.section{ class: "q-#{i}", data: { height: "#{500*i}"} }
      .question
        #{event.body}
      .answer-box

        .choice.choice-a
          .choice-inner
            #{event.choice_1}
            %span.tweet-text @_spacepioneer ##{event.id} #a

        .choice.choice-b
          .choice-inner
            #{event.choice_2}
            %span.tweet-text @_spacepioneer ##{event.id} #b
