.game-container
  %section.section.header-intro
    %h1{ data: {shadow_text: "Space Trail" } } Space Trail
    %p Loosely based on the original Oregon trail
    .planet
      %div
  - @events.each_with_index do | event, i |
    %section.section{ class: "q-#{i}", data: { height: "#{500*i}"} }
      .question
        #{event.body}
      .answer-box
        .choice.choice-a
          .choice-inner #{event.choice_1}
        .choice.choice-b
          .choice-inner #{event.choice_2}
